@model IEnumerable<iForecast.Entities.Account>

@{
    ViewData["Title"] = "MyAccount";
}

<h1>MyAccount</h1>

<p>
    @Html.ActionLink("Create","Create","Account",new{OwnerId = TempData["OwnerId"]})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>@Html.ActionLink("View SubAccounts","Index","SubAccount",new{Id=item.Id})</td>
        </tr>
}
    </tbody>
</table>
